<mat-card>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Create Account">
      <mat-card>
        <div class="create-tab">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your first name</mat-label>
            <input matInput placeholder="first name" [formControl]="firstName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your last name</mat-label>
            <input matInput placeholder="last name" [formControl]="lastName" required>
          </mat-form-field>
          <button [disabled]="!email.valid || !firstName.valid || !lastName.valid" mat-raised-button color="primary" (click)="onCreate()">Save</button>
          <div *ngIf="isAccountSaved" c>
            <p>Account saved</p>
          </div>
          <div *ngIf="errorTab1" class="results error">{{errorTab1}}</div>
        </div>
       </mat-card>
    </mat-tab>
    <mat-tab label="Get Account">
      <mat-card>
        <div class="create-tab">
          <mat-form-field appearance="fill">
            <mat-label>Enter your account ID</mat-label>
            <input matInput placeholder="ID" [formControl]="id" required>
          </mat-form-field>
          <button [disabled]="!id.valid" mat-raised-button color="primary" (click)="getAccount()">Get</button>
          <div *ngIf="account && account.email">
            <p>Id: {{account.recordID}}</p>
            <p>Email: {{account.email}}</p>
            <p>First name: {{account.firstName}}</p>
            <p>Last name: {{account.lastName}}</p>
          </div>
          <div *ngIf="!account">
            <p>Account was not found</p>
          </div>
          <div *ngIf="errorTab2" class="results error">Error: {{errorTab2}}</div>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
